<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="yoan.game.framework"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme" >
        <activity android:name="yoan.game.framework.modules.game.AndroidGame" />
        <activity android:name="yoan.game.framework.modules.network.DeviceListActivity"
                  android:label="@string/select_device"
                  android:theme="@android:style/Theme.Dialog"
                  android:configChanges="orientation|keyboardHidden" />
    </application>

</manifest>